body {
  font-size: 18px;
}

.list{
  padding: 0 5px;
}

.list__item{
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 5px;
  text-align:center;
  border-radius: 5px;
  background: #b0ed96;
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) { 
  .list {
    max-width: 500px;
    margin: auto;
  }
}